.expandingTile {
  margin: 20px;
  width: 200px;
  height: 200px;
}

.expandingTile:hover {
  margin: 15px;
  width: 210px;
  height: 210px;
  cursor: pointer;
}

.siteHeader {
  text-align: center;
  margin-top: 25px;
}

.siteContent {
  text-align: center;
}

.centered {
  margin: auto;
  margin-top: 30%;
  display: flex;
  justify-content: center;
}
